.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: var(--white-background);
  transform: translateX(100%);
  transition: transform 250ms var(--cubic-bezier);

  &__open-btn {
    position: absolute;
    top: 24px;
    right: 16px;
    display: flex;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    stroke: var(--dark);
    stroke-width: 3px;
    transition: stroke 250ms var(--cubic-bezier);
    &:hover,
    &:focus {
      stroke: var(--pressed-state);
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms var(--cubic-bezier),
      border 250ms var(--cubic-bezier);
    &:hover,
    &:focus {
      fill: var(--white-background);
      background-color: var(--pressed-state);
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
  }
  &__link {
    color: var(--navyblue, #2e2f42);
    @include font(700, 36px, 1.11, 0.02em);
    text-decoration: none;
    &--current {
      color: var(--ocean, #404bbf);
    }
  }
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-contact__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu-contact__link {
  text-decoration: none;
  &--tel {
    color: var(--iris, #4d5ae5);
    @include font(700, 36px, 1.11, 0.02em);
  }
  &--mail {
    color: var(--slate, #434455);
    @include font(500, 20px, 1.2, 0.02em);
  }
}
.mobile-social__list {
  display: flex;
  gap: 56px;
}
.mobile-social__item {
  display: flex;
}
.mobile-social__link {
  fill: var(--light);
  background-color: var(--primary-brand);
  border-radius: 50%;
  padding: 8px;
  height: 40px;
  text-decoration: none;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  &:hover,
  &:focus {
    background-color: var(--pressed-state);
  }
}
