.team {
  background: var(--light);

  &__list {
    @media screen and (max-width: 767.9px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 72px;
    }
    @media screen and (min-width: 768px) and (max-width: 1157.9px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 64px;
      column-gap: 24px;
    }
    @media screen and (min-width: 1158px) {
      display: flex;
      gap: 24px;
      justify-content: space-between;
    }
  }
  &__card {
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;
    background: var(--white-background);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);

    &--description {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 32px 0;
      text-align: center;
    }
  }
  &__heading {
    color: var(--dark);
    text-align: center;
    @include font(700, 36px, 1.11, 0.02em);
    margin-bottom: 72px;
  }
  &__name {
    color: var(--dark);
    @include font(500, 20px, 1.2, 0.02em);
  }
  &__job {
    color: var(--text);
    @include font(400, 16px, 1.5, 0.02em);
  }
  &__social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  &__social-item {
    height: 40px;
    height: 40px;
    display: flex;
  }
  &__social-link {
    fill: var(--light);
    background-color: var(--primary-brand);
    border-radius: 50%;
    padding: 12px;
    text-decoration: none;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);

    &:hover,
    &:focus {
      background-color: var(--pressed-state);
    }
  }
}
