.container {
  max-width: 428px;
  padding-inline: 15px;
  margin-inline: auto;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1158px) {
    max-width: 1158px;
  }
}
